.sidebar {
  width: 100%;
  height: 100%;
  margin: 0px !important;
  padding: 0px !important;
  border: 1px solid #555;

  &-menu{
    width: 300px;

    &-head{
      width: 300px;
      z-index: 1;
      position: fixed;
      background-color: white !important;

      &-icon{
        margin-top: 6px;
        margin-bottom: 6px;
        margin-left: 80%;
      }
    }
  }

  &-content{
    padding: 0px !important;
    margin: 0px !important;
    width: 100%;
    height: 100%;

    &-routes{
      margin: 40px;

      h1{
        margin-top: 100px;
        text-align: center;
        font-weight: bold;
        font-size: 30px;
        margin-bottom: 20px;
      }
    }
  }
}

.example-spacer {
  flex: 1 1 auto;
}

// mat-drawer-content {
//   padding: 12px;
//   display: flex;
//   flex-direction: column;
//   align-items: flex-start;
// }
