.alert{
  background-color: rgba(149, 198, 243, 0.534);
  border-radius: 8px;
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-icon{
    font-size: 60px;
    margin-left: -30px;
  }

  &-message{
    font-weight: bold;
    color: rgb(88, 88, 88);
    font-size: 20px;
  }
}
